.rating-with-icon {
    height: auto;
    max-width: 40vw;
    font-size: 2rem;
    display: flex;
    gap: 1rem;
    color: var(--white-color);
    padding: 0.5rem;
}

.fc-black {
    color: black;
}

.checked {
    color: var(--light-yellow);
}

.bg-green {
    background-color: var(--medium-green);
}

.bg-red {
    background-color: var(--dark-rose);
}

.bg-yellow {
    background-color: var(--dark-yellow);
}

.card-body {
    position: relative;
}

.rating-badge {
    max-width: 20rem;
    display: flex;
    position: absolute;
    left: 14rem;
    top: 9.5rem;
}

.rating-badge .rating-with-icon {
    font-size: 1.2rem;
    text-align: center;
}