.btn {
    display: block;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--white-color);
    padding: 0.9rem 1rem;
    font-weight: 500;
    background-color: transparent;
}

.border-round {
    border-radius: 0.5rem;
}

.btn-primary {
    background-color: var(--dark-sky);
}

.btn-lg {
    min-width: 15rem;
    min-height: 3.5rem;
    font-size: 2rem;
    padding: 1rem;
}

.btn-success {
    background-color: var(--medium-green);
}

.btn-secondary {
    background-color: var(--light-stone);
}

.btn-danger {
    background-color: red;
}

.btn-warning {
    background-color: var(--dark-orange);
}

.primary-outline {
    border: 2px solid var(--dark-sky);
}

.danger-outline {
    border: 2px solid var(--dark-rose);
}

.fc-black {
    color: black;
}

.btn-outline {
    border: 3px solid var(--dark-blue);
    color: black;
}

.link-btn {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 0.7rem 1rem;
    text-align: center;
    text-decoration: none;
}

.link-btn-lg {
    width: 14rem;
    height: 2rem;
}

.link-btn-sm {
    width: 5rem;
    height: 2rem;
}

.btn-blue {
    background-color: var(--dark-sky);
}

.icon-sm {
    font-size: 1.5rem;
}

.icon-lg {
    font-size: 2.5rem;
    padding-right: 0.7rem;
}

.icon-text-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-text-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.floating-btn-box {
    position: relative;
    display: flex;
}

.btn-float {
    position: absolute;
    left: 5rem;
    min-height: 3rem;
    min-width: 7rem;
    background-color: var(--medium-green);
}

.floating-btn-box {
    /* position: fixed; */
    color: var(--white-color);
    /* bottom: 7rem; */
    /* right:60rem; */
}

.floating-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    width: 6rem;
    font-size: 3rem;
    border-radius: 50%;
    background-color: var(--dark-cyan);
    box-shadow: 2px 2px 5px var(--dark-sky);
    transition: 0.2s ease;
}

.float-btn-sm {
    font-size: 1.5rem;
    height: 4rem;
    width: 4rem;
}

.floating-btn:active {
    background-color: black;
    box-shadow: 2px 2px 3px var(--light-stone);
}

.fluid-btn {
    min-width: 100%;
}


/* hover effect starts */

.btn:hover {
    background-color: var(--light-slate);
    border: 3px solid var(--dark-cyan);
    color: black;
}

.link-btn:hover {
    background-color: var(--ex-light-teal);
    border: 3px solid var(--dark-teal);
}

.sub-text-content {
    font-size: 1.6rem;
    margin-top: -2rem;
    font-weight: 500;
    line-height: 2rem;
}