.toast-container,
.simple-toast-container {
  display: flex;
  max-width: 80vw;
  min-height: 2rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 2rem;
  padding: 1rem;
}

.simple-toast-container {
  color: var(--dark-cyan);
}

.bg-blue {
  background-color: var(--light-sky);
}

.fc-green {
  color: var(--medium-green);
}

.bg-red {
  background-color: var(--light-rose);
}

.fc-red {
  color: var(--red-color);
}

.button-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

#toast-bottom {
  visibility: hidden;
  min-width: 20rem;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}
#toast-bottom.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
